body {
  background: grey;
  margin: 0;
  padding: 0;
  text-align:center;
}

#container {
  border: 1px solid grey;
  width: 50%;
  margin: auto;
  position: relative;
}

img {
  width: 100%;
}

#title {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 30px;
  color: salmon;
  letter-spacing: 3px;
}

#close {
  position: absolute;
  font-size: 30px;
  right: 5px;
  top: 2;
  color: red;
  margin: 0;
}
